$base-color: #c1eef67f;

#canvas {
    max-width: 100%;
}

.colorSelector {
    margin:15px 0;
}
.whiteColorPicker {
    display:flex;
}
.whiteColorPicker button {
    width:30%;
    background-color: lighten($base-color,10%);
    border: none;
    border-radius: 5px;
    border: 1px solid darken($base-color, 20%);
    padding: 5px;
}

