
$base-color: #c1eef67f;
.locationListElement {
    display: flex;
    margin-top: 15px;
}

.locationForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    border: 1px solid darken($base-color, 20%);
    border-radius:5px;
    background-color: $base-color;
    & input {
        margin-top: 15px;
    }
}
.buttonSection {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}