
$base-color: #c1eef6d3;

.colorScaleSection{
    margin-top: 15px;
}

.parameter-values {
    margin: auto;
    width: 80%; 
}

.value{
    display: flex;
    margin-top:5px;
    & span {
        border: 1px solid black;
    }
}

.parameterEditor {
    background-color: $base-color;
    margin-top:-1px;
    padding:15px;
    padding-bottom:100px;
}