

.parameterList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    & article {
        min-width: 20%;
        max-width: 50%;
        padding: 5px;
    }
    & button {
        display: block;
        width: 100%;
    }
}
.colorScaleSection{
    margin-top: 15px;
}

.parameter-values {
    margin: auto;
    width: 80%; 
}

.value{
    display: flex;
    margin-top:5px;
}